@model ChatApp.Core.Chat
@{
ViewData["Title"] = "Chat";
var userName = User.Identity.Name;
}
<input hidden value="@userName" id="usernow">
<div class="">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card-body p-0 pt-1">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages p-0 pt-1">
                            <!-- DIRECT CHAT SUCCESS -->
                            <div class="card card-sucress cardutline direct-chat direct-chat-success p-2">
                                @foreach(var message in Model.Messages){
                                string direction, timePosition, userPosition, hello;
                                hello = "img/user2-160x160.jpg";
                                if (userName == message.Name)
                                {
                                direction = "right";
                                timePosition = "float-left";
                                userPosition = "float-right";
                                }
                                else
                                {
                                direction = "";
                                timePosition = "float-right";
                                userPosition = "float-left";
                                }

                                foreach(var user in Model.Users){
                                if(user.User.ImgUrl == null){
                                hello = "~/img/user2-160x160.jpg";
                                }else{
                                hello = "~/img/user2-160x160.jpg";
                                }
                                }

                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg @direction">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name @userPosition">@message.Name</span>
                                        <span class="direct-chat-timestamp @timePosition">@message.Time</span>
                                    </div>
                                    <img class="direct-chat-img" src="@hello" alt="@message.Name">
                                    <div class="direct-chat-text">
                                        @message.Text
                                    </div>
                                </div>
                                <!-- /.direct-chat-msg -->



                                <!-- /.card-body -->

                                }

                            </div>
                            <!--/.direct-chat-messages-->
                        </div>
                        <div class="card-footer">
                            <form onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage">
                                <div class="input-group">
                                    <input type="hidden" name="roomId" value="@Model.Id">
                                    <input type="text" name="message" id="message-input" placeholder="Type Message ..."
                                        class="form-control">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-success">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-footer-->
                    </div>

                    <!-- /.col -->

                </div>
                <!--/.direct-chat -->
            </div>
        </div>
    </div>
</div>
<!--/.direct-chat -->
@* <form onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage" class="chat-input">
    <input type="hidden" name="roomId" value="@Model.Id">
    <input type="text" name="message" id="message-input" />
    <button type="submit" class="">Send</button>
</form> *@




@section scripts {
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/signalr/signalr.min.js"></script>
<script>
    
    var connection = new signalR.HubConnectionBuilder()
                                    .withUrl("/chatHub")
                                    .build();
            
    var _connectionId = '';
    var logUser = document.getElementById("usernow").value;
    connection.on("RecieveMessage", function(data){
        var message = document.createElement("div")
                message.classList.add('direct-chat-msg')
                
        var subMessage = document.createElement('div')
                subMessage.classList.add('direct-chat-infos')
                subMessage.classList.add('clearfix')
                var namee = data.name;
        var username = document.createElement("span")
        username.appendChild(document.createTextNode(data.name))
        
        var text = document.createElement("div")
        text.appendChild(document.createTextNode(data.text))

        var time = document.createElement("span")
        time.appendChild(document.createTextNode(data.time))

        var img = document.createElement("img")
        img.src = "img/user2-160x160.jpg";

        
        if(logUser == namee){
            message.classList.add('right')
            username.classList.add('float-right')
            time.classList.add('float-left')
        }else{
            username.classList.add('float-left')
            time.classList.add('float-right')
        }
        username.classList.add('direct-chat-name')
        
        text.classList.add('direct-chat-text')
        time.classList.add('direct-chat-timestamp')
        img.classList.add('direct-chat-img')


        message.appendChild(subMessage);
        subMessage.appendChild(time);
        subMessage.appendChild(username);
        message.appendChild(img);
        message.appendChild(text);


        var body = document.querySelector('.direct-chat')
        body.append(message);
    })

    var joinRoom = function () {
        var url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Id'
        axios.post(url, null)
            .then(res => {
                console.log("Room Joined!")
            }).catch(err => {
                console.err("Failed to Join Room! ",res)
            })
    }

    var sendMessage = function (event) {
        event.preventDefault();
        var data = new FormData(event.target);
        document.getElementById('message-input').value = '';
        document.getElementById('message-input').placeholder = '';
        axios.post('/Chat/SendMessage', data)
            .then(res => {
                console.log("Message Sent!")
            })
            .catch(err => {
                console.log("Failed to send message!")
            })
    }

    connection.start()
        .then(function () {
            connection.invoke('getConnectionId')
                .then(function (connectionId) {
                    _connectionId = connectionId

                    joinRoom();
                })
        })
        .catch(function (err) {
            console.log(err)
        })

    
</script>
}